.ideas-section{
    padding-top: 10px;
    // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding-bottom: 10px;
}
.ideas-title{
    font-size: 34px;
    font-weight: 400;
}
.ideas-text{
    font-size: 19px;
}